/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

.field {}
.textarea {}
.select {}
.radio {}
.checkbox {}

/*  Checkbox  */

.checkbox { font: 400 15px/1.27 'Marven Pro', sans-serif; color: #4a4a4a; padding: 3px 0 0 3px;  }

.checkbox input[type="checkbox"] { display: none; }
.checkbox input[type="checkbox"] + label { padding-left: 28px; background: url(../css/images/checkbox-bg.png) no-repeat 0 0; background-size: contain; }

$breakpoint-mobile {
	.checkbox { padding: 0; }	
}

/*  Radio  */

.radio { color: #000; }

.radio input[type="radio"] { display: none; }
.radio input[type="radio"] + label { padding-left: 58px; background: url(../css/images/radio-bg.png) no-repeat 0 0; background-size: contain; }
.radio input[type="radio"]:checked + label { background: url(../css/images/radio-check-bg.png) no-repeat 0 0; background-size: contain; }

$breakpoint-mobile {
	.radio input[type="radio"] + label { padding-left: 30px; }
}

/*  Radio-Secondary  */

.radio-secondary { font-weight: 700; }

.radio-secondary input[type="radio"] + label { padding-left: 43px; }
.radio-secondary .link { display: inline-block; vertical-align: middle; }

$breakpoint-mobile-portrait {
	.radio-secondary input[type="radio"] + label { padding-left: 30px; }	
}