/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */

.copyright { background: rgba(0,0,0,.4); text-align: left; }
.copyright p { font-size: 14px; padding: 16px 0; color: #D8D7D7; }

/* ------------------------------------------------------------ *\
	Responsive
\* ------------------------------------------------------------ */

$breakpoint-mobile {
	.copyright { text-align: center; }
}
