/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; text-align: center; cursor: pointer; background: #2961AC; font-size: 16px; line-height: 28px; padding: 5px 10px; border-radius: 2px; box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.24); color: #fff; font-weight: 500; transition: box-shadow .15s, background .15s;
	-webkit-appearance: none;
	   -moz-appearance: none;
	 		appearance: none;
}
.btn:hover { text-decoration: none; box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 10px rgba(0,0,0,.36); background: #26A9E0; }
.btn .material-icons { font-size: 20px; vertical-align: top; line-height: 28px; margin-right: 5px; }

.btn-large { font-size: 22px; padding: 10px 30px; }


/*  Button Block  */
.btn-block { display: block; padding-left: 0; padding-right: 0; width: 100%; }

/*  Btn-Blue  */

.btn-blue { background: #2961ac; border-radius: 3px; color: #fff; text-transform: uppercase; padding: 12px; text-decoration: none; line-height: 1; font-size: 14px; border: 0; }

/*  Btn-Big  */

.btn-big { padding: 19px 24px; font-size: 16px; }

/*  Btn-Big-Secondary  */

.btn-big-secondary { font: 500 16px/1.13 'Maven Pro', sans-serif; padding: 19px 31px; }

/*  Btn-Silver  */

.btn-silver { border: 0; text-transform: uppercase; text-decoration: none; background: #d8d7d7; padding: 19px 31px; }
.btn-silver:hover { background: #2961ac; }
.btn-silver.active { background: #2961ac; }

/*  Btn-White  */

.btn-white { font: 500 28px/1.18 'Maven Pro', sans-serif; color: #2961ac; background: #fff; border-radius: 2px; padding: 14px 66px; }
.btn-white:hover { background: #d8d7d7; }

/* ------------------------------------------------------------ *\
	Responsive
\* ------------------------------------------------------------ */

$breakpoint-small-desktop {
	.btn { font-size: 14px; }

	.btn-large { font-size: 20px; }
}

