/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { background: rgba(0,0,0,.07); text-align: center; position: absolute; bottom: 0; left: 0; right: 0; }
